# Train a Triplet Model with Data Iterations

## Table of Contents
* [Overview](#Overview)
* [Set the Environment](#Set-the-environment)
* [Build a Triplet Model](#Build-triplet-model)
* [Train the Model](#Train-the-model)
* [Test the Model](#Test-the-model)
* [Deploy the Model](#Deploy-the-model)
* [Test the ASTORE Model](#Test-astore-model)
* [Conclusion](#Conclusion)

## Overview <a id="Overview"></a>

This example shows how to train a Triplet Network without explicitly creating an ImageEmbeddingTable for training. Instead, the training data is created on-the-fly during training from a CAS-accessible directory. We then show how to save and deploy a branch of the network in ASTORE and use it as an embedding model. We evaluate the results with K-means clustering.

The data used for this example consists of a subset of images obtained from [Google's Open Image V4](https://arxiv.org/abs/1811.00982). To recreate this data set:

Our data is stored in a path accessible by the CAS server. The data is structured in a directory as follows:

../data <br/>
  |--german_shepherd <br/>
  |  |--image1 <br/>
  |  |--image2 <br/>
  |  |--etc.. <br/>
  |--golden_retriever <br/>
  |  |--image1 <br/>
  |  |--image2 <br/>
  |  |--etc.. <br/>
  |--labrador_retriever <br/>
  |  |--image1 <br/>
  |  |--image2 <br/>
  |  |--etc.. <br/>
  |--etc.. <br/>
  
Note: Image data can only be loaded from the server. Client-side loads of image data are unsupported.

## Set the Environment <a id="Set-the-environment"></a>

First, set notebook environement by doing the following:
1. Import relevant modules
2. Use matplotlib inline magic so plots render correctly
3. Start a CAS session

**Remember:** Change **`host_name`** and **`port_number`** to match your CAS server. You should also have an authinfo (authentication) file set up as well.

In [1]:
from swat import *
from pprint import pprint

%matplotlib inline
import matplotlib
import numpy as np
import matplotlib.pyplot as plt
from mpl_toolkits.axes_grid1 import ImageGrid

In [2]:
import pandas as pd
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.max_colwidth', 500)

In [3]:
from dlpy.layers import * 
from dlpy.applications import *
from dlpy import Model, Sequential
from dlpy.utils import *
from dlpy.splitting import two_way_split
from dlpy.lr_scheduler import *
from dlpy.images import *
from dlpy.image_embedding import *
from dlpy.embedding_model import EmbeddingModel

In [4]:
s = CAS('hostname', port_number)
s.sessionprop.setsessopt(caslib='CASUSER', timeout=31535000)

NOTE: 'CASUSER(userid)' is now the active caslib.

+ Elapsed: 0.000197s, user: 0.000119s, sys: 6.1e-05s, mem: 0.256mb

## Build a Triplet Model <a id="Build-triplet-model"></a>
A Triplet Network uses three copies of a neural network to learn discriminative features. We use ResNet18 as a base network for these three copies. Likewise, ResNet18 will serve as the base of our embedding, but in order to customize the embedding output, we add an embedding layer to ResNet18 that is also copied. 

We define our embedding layer to be a dense 4-neuron layer with an identity activation function. If this is not given, the last layer before the output layer will be used as the embedding layer.

The output features from each network are fed into an embedding loss layer to compute the triplet loss function. The triplet loss function is designed to minimize the Euclidean distance between the anchor image and the positive image and increase the distance between the anchor image and the negative image. Margin is used to tune how discriminative the features should be.

The resulting Triplet Network structure is stored in memory as the table "test_tr".

In [5]:
resnet18_model = ResNet18_Caffe(s,
                                width=224,
                                height=224
                                )

NOTE: Input layer added.
NOTE: Convolution layer added.
NOTE: Batch normalization layer added.
NOTE: Pooling layer added.
NOTE: Pooling layer added.
NOTE: Output layer added.
NOTE: Model compiled successfully.

In [6]:
embedding_layer = Dense(n=4, act='identity')
model_tr = EmbeddingModel.build_embedding_model(resnet18_model, model_table='test_tr',
                                              embedding_model_type='triplet', margin=-3.0,
                                              embedding_layer=embedding_layer)

NOTE: Convert the branch model into a functional model.
NOTE: Remove the task layers from the model.
NOTE: Model compiled successfully.

## Train the model <a id="Train-the-model"></a>
Generally, before training, we would need to create a training data set. We could do this easily with DLPy's ImageEmbeddingTable API or we could invoke CAS actions to craft the table manually as in <a href="https://go.documentation.sas.com/?docsetId=casdlpg&docsetTarget=p0rtwwco6lyoxhn1t2122nh99ldu.htm&docsetVersion=8.5&locale=en#p1ek9mpk0ctu4en1ez1yi52co425">the SAS documentation</a>. 

However, in this example, we avoid explicitly creating a training data set. Instead, we provide *model_tr.fit_embedding_model()* with a path to our training image directory. When we provide a path, we direct the fitting algorithm to create training data on-the-fly using images in the direcory. For the Triplet Network, each sample needs an anchor image, a positive image, a negative image, and all the data associated with each image (such as filename, label, size, etc.).

We begin by specifying a few standard training options such as our GPU devices and our optimizer. The training proceeds as follows:

1. Create a batch of **`n_samples`** samples.
2. Train on that batch for **`max_epochs`** epochs.
3. Repeat 1, 2 for **`max_iter`** iterations.

This returns a list containing a CASResult for each data iteration. You can use this list to investigate training history. Furthermore, a table called test_tr_weights is created in CAS to store the model weights.

In [7]:
from dlpy.model import Gpu
gpu = Gpu(devices=1)

In [8]:
from dlpy.model import Optimizer, MomentumSolver, AdamSolver
solver = AdamSolver(lr_scheduler=StepLR(learning_rate=0.0001, step_size=4), 
                    clip_grad_max = 100, 
                    clip_grad_min = -100)
optimizer = Optimizer(algorithm=solver, 
                      mini_batch_size=8, 
                      log_level=2, 
                      max_epochs=8, 
                      reg_l2=0.0001)

The following argument(s) learning_rate, learning_rate_policy, gamma, step_size, power are overwritten by the according arguments specified in lr_scheduler.

In [9]:
res = model_tr.fit_embedding_model(optimizer=optimizer, 
                                   n_threads=4, 
                                   gpu=gpu, 
                                   seed=1234,
                                   record_seed=23435,
                                   path='/server-side/path/to/dog/data', 
                                   n_samples=128, 
                                   max_iter=15, 
                                   resize_width=224, 
                                   resize_height=224)

Note: data generation took 2.0301365852355957 (s) at iteration 0
NOTE: Training from scratch.
WARNING: Using dataSpecs settings. Additional input or target option settings will be ignored.
NOTE: Using cloud.example.com: 1 out of 2 available GPU devices.
NOTE:  Synchronous mode is enabled.
NOTE:  The total number of parameters is 33548364.
NOTE:  The approximate memory cost is 885.00 MB.
NOTE:  Loading weights cost       0.00 (s).
NOTE:  Initializing each layer cost       4.23 (s).
NOTE:  The total number of threads on each worker is 4.
NOTE:  The total mini-batch size per thread on each worker is 8.
NOTE:  The maximum mini-batch size across all workers for the synchronous mode is 32.
NOTE:  Epoch Learning Rate        Loss  Fit Error   Time(s)
NOTE:  0        0.0001         -0.1085      3.254     5.44
NOTE:  1        0.0001         -0.6286      4.011     0.67
NOTE:  2        0.0001         -0.8386       3.91     0.67
NOTE:  3        0.0001          -1.142      4.114     0.67
NOTE:  4          1E-5          -1.673      5.801     0.67
NOTE:  5          1E-5          -1.515      5.831     0.67
NOTE:  6          1E-5          -1.849      5.476     0.67
NOTE:  7          1E-5          -1.847      5.639     0.67
NOTE:  The optimization reached the maximum number of epochs.
NOTE:  The total time is      10.12 (s).
NOTE: Cloud Analytic Services dropped table ImageData_7ZsKjU from caslib CASUSER(userid).
Note: data generation took 1.4897942543029785 (s) at iteration 1
NOTE: Training based on existing weights.
WARNING: Using dataSpecs settings. Additional input or target option settings will be ignored.
NOTE: Using cloud.example.com: 1 out of 2 available GPU devices.
NOTE:  Synchronous mode is enabled.
NOTE:  The total number of parameters is 33548364.
NOTE:  The approximate memory cost is 885.00 MB.
NOTE:  Loading weights cost       0.30 (s).
NOTE:  Initializing each layer cost       1.52 (s).
NOTE:  The total number of threads on each worker is 4.
NOTE:  The total mini-batch size per thread on each worker is 8.
NOTE:  The maximum mini-batch size across all workers for the synchronous mode is 32.
NOTE:  Epoch Learning Rate        Loss  Fit Error   Time(s)
NOTE:  0        0.0001        -0.05337      4.343     5.45
NOTE:  1        0.0001         -0.7921      3.287     0.67
NOTE:  2        0.0001          -1.436      4.038     0.67
NOTE:  3        0.0001          -1.653      5.137     0.67
NOTE:  4          1E-5          -1.935      6.102     0.67
NOTE:  5          1E-5          -2.344      6.408     0.67
NOTE:  6          1E-5          -2.305      6.016     0.67
NOTE:  7          1E-5          -2.483      6.238     0.67
NOTE:  The optimization reached the maximum number of epochs.
NOTE:  The total time is      10.18 (s).
NOTE: Cloud Analytic Services dropped table ImageData_q6mlyt from caslib CASUSER(userid).
Note: data generation took 1.4425318241119385 (s) at iteration 2
NOTE: Training based on existing weights.
WARNING: Using dataSpecs settings. Additional input or target option settings will be ignored.
NOTE: Using cloud.example.com: 1 out of 2 available GPU devices.
NOTE:  Synchronous mode is enabled.
NOTE:  The total number of parameters is 33548364.
NOTE:  The approximate memory cost is 885.00 MB.
NOTE:  Loading weights cost       0.29 (s).
NOTE:  Initializing each layer cost       1.52 (s).
NOTE:  The total number of threads on each worker is 4.
NOTE:  The total mini-batch size per thread on each worker is 8.
NOTE:  The maximum mini-batch size across all workers for the synchronous mode is 32.
NOTE:  Epoch Learning Rate        Loss  Fit Error   Time(s)
NOTE:  0        0.0001          -1.132      5.513     5.44
NOTE:  1        0.0001          -1.615      5.841     0.67
NOTE:  2        0.0001          -2.032      6.909     0.67
NOTE:  3        0.0001          -2.053       6.79     0.67
NOTE:  4          1E-5          -2.126      7.249     0.67
NOTE:  5          1E-5          -2.275      7.453     0.67
NOTE:  6          1E-5          -2.609      7.153     0.67
NOTE:  7          1E-5          -2.757       7.19     0.67
NOTE:  The optimization reached the maximum number of epochs.
NOTE:  The total time is      10.15 (s).
NOTE: Cloud Analytic Services dropped table ImageData_6ZivP5 from caslib CASUSER(userid).
Note: data generation took 1.4383554458618164 (s) at iteration 3
NOTE: Training based on existing weights.
WARNING: Using dataSpecs settings. Additional input or target option settings will be ignored.
NOTE: Using cloud.example.com: 1 out of 2 available GPU devices.
NOTE:  Synchronous mode is enabled.
NOTE:  The total number of parameters is 33548364.
NOTE:  The approximate memory cost is 885.00 MB.
NOTE:  Loading weights cost       0.32 (s).
NOTE:  Initializing each layer cost       1.47 (s).
NOTE:  The total number of threads on each worker is 4.
NOTE:  The total mini-batch size per thread on each worker is 8.
NOTE:  The maximum mini-batch size across all workers for the synchronous mode is 32.
NOTE:  Epoch Learning Rate        Loss  Fit Error   Time(s)
NOTE:  0        0.0001          -1.859      7.036     5.39
NOTE:  1        0.0001           -1.01      7.141     0.67
NOTE:  2        0.0001          -1.875      6.056     0.67
NOTE:  3        0.0001          -2.118      5.867     0.67
NOTE:  4          1E-5          -2.243      6.049     0.67
NOTE:  5          1E-5          -2.354      6.189     0.67
NOTE:  6          1E-5          -2.392      6.205     0.67
NOTE:  7          1E-5          -2.589      5.977     0.67
NOTE:  The optimization reached the maximum number of epochs.
NOTE:  The total time is      10.07 (s).
NOTE: Cloud Analytic Services dropped table ImageData_QfON82 from caslib CASUSER(userid).
Note: data generation took 1.4153082370758057 (s) at iteration 4
NOTE: Training based on existing weights.
WARNING: Using dataSpecs settings. Additional input or target option settings will be ignored.
NOTE: Using cloud.example.com: 1 out of 2 available GPU devices.
NOTE:  Synchronous mode is enabled.
NOTE:  The total number of parameters is 33548364.
NOTE:  The approximate memory cost is 885.00 MB.
NOTE:  Loading weights cost       0.32 (s).
NOTE:  Initializing each layer cost       1.47 (s).
NOTE:  The total number of threads on each worker is 4.
NOTE:  The total mini-batch size per thread on each worker is 8.
NOTE:  The maximum mini-batch size across all workers for the synchronous mode is 32.
NOTE:  Epoch Learning Rate        Loss  Fit Error   Time(s)
NOTE:  0        0.0001          -1.003      6.002     5.44
NOTE:  1        0.0001          -1.893      5.278     0.67
NOTE:  2        0.0001          -2.099      5.924     0.67
NOTE:  3        0.0001          -2.607      5.746     0.67
NOTE:  4          1E-5          -2.754       5.94     0.67
NOTE:  5          1E-5          -2.796      6.277     0.67
NOTE:  6          1E-5          -2.807      6.021     0.67
NOTE:  7          1E-5          -2.858      6.364     0.67
NOTE:  The optimization reached the maximum number of epochs.
NOTE:  The total time is      10.13 (s).
NOTE: Cloud Analytic Services dropped table ImageData_0MjCre from caslib CASUSER(userid).
Note: data generation took 1.4826760292053223 (s) at iteration 5
NOTE: Training based on existing weights.
WARNING: Using dataSpecs settings. Additional input or target option settings will be ignored.
NOTE: Using cloud.example.com: 1 out of 2 available GPU devices.
NOTE:  Synchronous mode is enabled.
NOTE:  The total number of parameters is 33548364.
NOTE:  The approximate memory cost is 885.00 MB.
NOTE:  Loading weights cost       0.32 (s).
NOTE:  Initializing each layer cost       1.48 (s).
NOTE:  The total number of threads on each worker is 4.
NOTE:  The total mini-batch size per thread on each worker is 8.
NOTE:  The maximum mini-batch size across all workers for the synchronous mode is 32.
NOTE:  Epoch Learning Rate        Loss  Fit Error   Time(s)
NOTE:  0        0.0001          -1.815      5.994     5.40
NOTE:  1        0.0001          -2.012      6.612     0.67
NOTE:  2        0.0001          -2.413      7.228     0.67
NOTE:  3        0.0001          -2.445      6.846     0.67
NOTE:  4          1E-5          -2.721      7.177     0.67
NOTE:  5          1E-5          -2.535      7.342     0.67
NOTE:  6          1E-5          -2.872      7.518     0.67
NOTE:  7          1E-5          -2.732       7.08     0.67
NOTE:  The optimization reached the maximum number of epochs.
NOTE:  The total time is      10.08 (s).
NOTE: Cloud Analytic Services dropped table ImageData_6s2Q8v from caslib CASUSER(userid).
Note: data generation took 1.4449007511138916 (s) at iteration 6
NOTE: Training based on existing weights.
WARNING: Using dataSpecs settings. Additional input or target option settings will be ignored.
NOTE: Using cloud.example.com: 1 out of 2 available GPU devices.
NOTE:  Synchronous mode is enabled.
NOTE:  The total number of parameters is 33548364.
NOTE:  The approximate memory cost is 885.00 MB.
NOTE:  Loading weights cost       0.30 (s).
NOTE:  Initializing each layer cost       1.48 (s).
NOTE:  The total number of threads on each worker is 4.
NOTE:  The total mini-batch size per thread on each worker is 8.
NOTE:  The maximum mini-batch size across all workers for the synchronous mode is 32.
NOTE:  Epoch Learning Rate        Loss  Fit Error   Time(s)
NOTE:  0        0.0001          -2.033      6.259     5.42
NOTE:  1        0.0001          -2.628      5.881     0.67
NOTE:  2        0.0001          -2.768      7.485     0.67
NOTE:  3        0.0001          -2.765      7.778     0.67
NOTE:  4          1E-5          -2.842      7.985     0.67
NOTE:  5          1E-5          -2.803      8.162     0.67
NOTE:  6          1E-5          -2.755      7.782     0.67
NOTE:  7          1E-5          -2.816      8.434     0.67
NOTE:  The optimization reached the maximum number of epochs.
NOTE:  The total time is      10.16 (s).
NOTE: Cloud Analytic Services dropped table ImageData_hOLjRu from caslib CASUSER(userid).
Note: data generation took 1.525829553604126 (s) at iteration 7
NOTE: Training based on existing weights.
WARNING: Using dataSpecs settings. Additional input or target option settings will be ignored.
NOTE: Using cloud.example.com: 1 out of 2 available GPU devices.
NOTE:  Synchronous mode is enabled.
NOTE:  The total number of parameters is 33548364.
NOTE:  The approximate memory cost is 885.00 MB.
NOTE:  Loading weights cost       0.34 (s).
NOTE:  Initializing each layer cost       1.50 (s).
NOTE:  The total number of threads on each worker is 4.
NOTE:  The total mini-batch size per thread on each worker is 8.
NOTE:  The maximum mini-batch size across all workers for the synchronous mode is 32.
NOTE:  Epoch Learning Rate        Loss  Fit Error   Time(s)
NOTE:  0        0.0001          -2.343      8.294     5.44
NOTE:  1        0.0001          -2.783      8.272     0.67
NOTE:  2        0.0001          -2.811      8.604     0.67
NOTE:  3        0.0001          -2.686      9.261     0.67
NOTE:  4          1E-5          -2.787      9.419     0.67
NOTE:  5          1E-5          -2.927      9.117     0.67
NOTE:  6          1E-5           -2.92      9.188     0.67
NOTE:  7          1E-5           -2.92      9.045     0.67
NOTE:  The optimization reached the maximum number of epochs.
NOTE:  The total time is      10.13 (s).
NOTE: Cloud Analytic Services dropped table ImageData_Sv1pd5 from caslib CASUSER(userid).
Note: data generation took 1.518110990524292 (s) at iteration 8
NOTE: Training based on existing weights.
WARNING: Using dataSpecs settings. Additional input or target option settings will be ignored.
NOTE: Using cloud.example.com: 1 out of 2 available GPU devices.
NOTE:  Synchronous mode is enabled.
NOTE:  The total number of parameters is 33548364.
NOTE:  The approximate memory cost is 885.00 MB.
NOTE:  Loading weights cost       0.32 (s).
NOTE:  Initializing each layer cost       1.49 (s).
NOTE:  The total number of threads on each worker is 4.
NOTE:  The total mini-batch size per thread on each worker is 8.
NOTE:  The maximum mini-batch size across all workers for the synchronous mode is 32.
NOTE:  Epoch Learning Rate        Loss  Fit Error   Time(s)
NOTE:  0        0.0001          -2.454      8.341     5.41
NOTE:  1        0.0001          -2.643      8.741     0.67
NOTE:  2        0.0001          -2.685      8.649     0.67
NOTE:  3        0.0001          -2.674      8.579     0.67
NOTE:  4          1E-5          -2.813      8.174     0.67
NOTE:  5          1E-5          -2.975      8.556     0.67
NOTE:  6          1E-5          -2.965      8.604     0.67
NOTE:  7          1E-5          -2.984      8.109     0.67
NOTE:  The optimization reached the maximum number of epochs.
NOTE:  The total time is      10.09 (s).
NOTE: Cloud Analytic Services dropped table ImageData_N6IA1E from caslib CASUSER(userid).
Note: data generation took 1.4779095649719238 (s) at iteration 9
NOTE: Training based on existing weights.
WARNING: Using dataSpecs settings. Additional input or target option settings will be ignored.
NOTE: Using cloud.example.com: 1 out of 2 available GPU devices.
NOTE:  Synchronous mode is enabled.
NOTE:  The total number of parameters is 33548364.
NOTE:  The approximate memory cost is 885.00 MB.
NOTE:  Loading weights cost       0.29 (s).
NOTE:  Initializing each layer cost       1.46 (s).
NOTE:  The total number of threads on each worker is 4.
NOTE:  The total mini-batch size per thread on each worker is 8.
NOTE:  The maximum mini-batch size across all workers for the synchronous mode is 32.
NOTE:  Epoch Learning Rate        Loss  Fit Error   Time(s)
NOTE:  0        0.0001          -2.508      7.969     5.40
NOTE:  1        0.0001          -2.555      8.769     0.67
NOTE:  2        0.0001          -2.475       9.33     0.67
NOTE:  3        0.0001          -2.424      9.115     0.67
NOTE:  4          1E-5          -2.716      9.157     0.67
NOTE:  5          1E-5          -2.731      8.577     0.67
NOTE:  6          1E-5          -2.858      8.679     0.67
NOTE:  7          1E-5          -2.748      8.497     0.67
NOTE:  The optimization reached the maximum number of epochs.
NOTE:  The total time is      10.09 (s).
NOTE: Cloud Analytic Services dropped table ImageData_9fLrEo from caslib CASUSER(userid).
Note: data generation took 1.4089000225067139 (s) at iteration 10
NOTE: Training based on existing weights.
WARNING: Using dataSpecs settings. Additional input or target option settings will be ignored.
NOTE: Using cloud.example.com: 1 out of 2 available GPU devices.
NOTE:  Synchronous mode is enabled.
NOTE:  The total number of parameters is 33548364.
NOTE:  The approximate memory cost is 885.00 MB.
NOTE:  Loading weights cost       0.31 (s).
NOTE:  Initializing each layer cost       1.48 (s).
NOTE:  The total number of threads on each worker is 4.
NOTE:  The total mini-batch size per thread on each worker is 8.
NOTE:  The maximum mini-batch size across all workers for the synchronous mode is 32.
NOTE:  Epoch Learning Rate        Loss  Fit Error   Time(s)
NOTE:  0        0.0001          -2.617      7.559     5.41
NOTE:  1        0.0001           -2.39      8.143     0.67
NOTE:  2        0.0001          -2.766      8.053     0.67
NOTE:  3        0.0001          -2.868      8.412     0.67
NOTE:  4          1E-5           -2.93      8.211     0.67
NOTE:  5          1E-5          -2.996      8.064     0.67
NOTE:  6          1E-5          -2.962      8.407     0.67
NOTE:  7          1E-5           -2.95      7.934     0.67
NOTE:  The optimization reached the maximum number of epochs.
NOTE:  The total time is      10.11 (s).
NOTE: Cloud Analytic Services dropped table ImageData_aPxorm from caslib CASUSER(userid).
Note: data generation took 1.4918239116668701 (s) at iteration 11
NOTE: Training based on existing weights.
WARNING: Using dataSpecs settings. Additional input or target option settings will be ignored.
NOTE: Using cloud.example.com: 1 out of 2 available GPU devices.
NOTE:  Synchronous mode is enabled.
NOTE:  The total number of parameters is 33548364.
NOTE:  The approximate memory cost is 885.00 MB.
NOTE:  Loading weights cost       0.32 (s).
NOTE:  Initializing each layer cost       1.49 (s).
NOTE:  The total number of threads on each worker is 4.
NOTE:  The total mini-batch size per thread on each worker is 8.
NOTE:  The maximum mini-batch size across all workers for the synchronous mode is 32.
NOTE:  Epoch Learning Rate        Loss  Fit Error   Time(s)
NOTE:  0        0.0001          -2.611      8.445     5.41
NOTE:  1        0.0001           -2.97      9.258     0.67
NOTE:  2        0.0001          -2.754      9.787     0.67
NOTE:  3        0.0001          -2.837      9.626     0.66
NOTE:  4          1E-5          -2.943      10.17     0.66
NOTE:  5          1E-5          -2.999      9.739     0.66
NOTE:  6          1E-5              -3      10.17     0.67
NOTE:  7          1E-5          -2.987      9.562     0.67
NOTE:  The optimization reached the maximum number of epochs.
NOTE:  The total time is      10.09 (s).
NOTE: Cloud Analytic Services dropped table ImageData_JzSr1c from caslib CASUSER(userid).
Note: data generation took 1.5227789878845215 (s) at iteration 12
NOTE: Training based on existing weights.
WARNING: Using dataSpecs settings. Additional input or target option settings will be ignored.
NOTE: Using cloud.example.com: 1 out of 2 available GPU devices.
NOTE:  Synchronous mode is enabled.
NOTE:  The total number of parameters is 33548364.
NOTE:  The approximate memory cost is 885.00 MB.
NOTE:  Loading weights cost       0.29 (s).
NOTE:  Initializing each layer cost       1.50 (s).
NOTE:  The total number of threads on each worker is 4.
NOTE:  The total mini-batch size per thread on each worker is 8.
NOTE:  The maximum mini-batch size across all workers for the synchronous mode is 32.
NOTE:  Epoch Learning Rate        Loss  Fit Error   Time(s)
NOTE:  0        0.0001          -2.745      9.196     5.42
NOTE:  1        0.0001          -2.877      9.651     0.67
NOTE:  2        0.0001          -2.958         10     0.67
NOTE:  3        0.0001          -2.881       10.1     0.67
NOTE:  4          1E-5           -2.91      10.42     0.67
NOTE:  5          1E-5          -2.968      10.55     0.67
NOTE:  6          1E-5          -2.713      10.03     0.67
NOTE:  7          1E-5          -2.897      10.75     0.67
NOTE:  The optimization reached the maximum number of epochs.
NOTE:  The total time is      10.16 (s).
NOTE: Cloud Analytic Services dropped table ImageData_ncOCLm from caslib CASUSER(userid).
Note: data generation took 1.386124849319458 (s) at iteration 13
NOTE: Training based on existing weights.
WARNING: Using dataSpecs settings. Additional input or target option settings will be ignored.
NOTE: Using cloud.example.com: 1 out of 2 available GPU devices.
NOTE:  Synchronous mode is enabled.
NOTE:  The total number of parameters is 33548364.
NOTE:  The approximate memory cost is 885.00 MB.
NOTE:  Loading weights cost       0.32 (s).
NOTE:  Initializing each layer cost       1.51 (s).
NOTE:  The total number of threads on each worker is 4.
NOTE:  The total mini-batch size per thread on each worker is 8.
NOTE:  The maximum mini-batch size across all workers for the synchronous mode is 32.
NOTE:  Epoch Learning Rate        Loss  Fit Error   Time(s)
NOTE:  0        0.0001          -2.817      9.518     5.41
NOTE:  1        0.0001          -2.729      9.936     0.67
NOTE:  2        0.0001           -2.81      9.587     0.67
NOTE:  3        0.0001          -2.915      10.01     0.67
NOTE:  4          1E-5           -2.85       9.54     0.67
NOTE:  5          1E-5          -2.865      9.746     0.67
NOTE:  6          1E-5          -2.944       9.23     0.67
NOTE:  7          1E-5          -2.862      9.515     0.67
NOTE:  The optimization reached the maximum number of epochs.
NOTE:  The total time is      10.10 (s).

In [10]:
res[-1]

[ModelInfo]

                                         Descr                         Value
 0                                  Model Name                       test_tr
 1                                  Model Type  Convolutional Neural Network
 2                            Number of Layers                           163
 3                      Number of Input Layers                             3
 4                     Number of Output Layers                             0
 5              Number of Convolutional Layers                            63
 6                    Number of Pooling Layers                             6
 7            Number of Fully Connected Layers                             3
 8        Number of Batch Normalization Layers                            63
 9                   Number of Residual Layers                            24
 10            Number of Embedding Loss Layers                             1
 11                Number of Weight Parameters                      33519168
 12                  Number of Bias Parameters                         29196
 13           Total Number of Model Parameters                      33548364
 14  Approximate Memory Cost for Training (MB)                           887

[OptIterHistory]

    Epoch  LearningRate      Loss  FitError    L2Norm
 0    113       0.00010 -2.035810  9.287222  1.469142
 1    114       0.00010 -2.674976  9.553526  1.469302
 2    115       0.00010 -2.673538  9.319160  1.469488
 3    116       0.00010 -2.879806  8.671221  1.469649
 4    117       0.00001 -2.903485  8.702984  1.469740
 5    118       0.00001 -2.963889  8.439432  1.469748
 6    119       0.00001 -2.930328  8.587134  1.469751
 7    120       0.00001 -2.975409  8.782205  1.469752

[OutputCasTables]

             casLib             Name      Rows  Columns  \
 0  CASUSER(userid)  test_tr_weights  33577548        3

                                                 casTable
 0  CASTable('test_tr_weights', caslib='CASUSER(userid)')

+ Elapsed: 13.6s, user: 11.9s, sys: 3.54s, mem: 914mb

## Test the model <a id="Test-the-model"></a>
Before exporting the model to ASTORE, we will test it first. Here we take advantage of the ImageEmbeddingTable API in order to create a testing data set. Because each dog is in it's corresponding dog breed category, we specify **`label_level=-2`** in order to generate labels from an image's immediate parent directory. 

We test the model on the created ImageEmbeddingTable and check the proportion of correctly classified images.

Remember, however, that the Triplet Network is really three identical networks whose output feeds into a single embedding loss layer. And, the testing data consists of three images, an anchor, a positive image, and a negative image. Because of this strange arrangement, we need to reconsider how scoring works.

When a Triplet Model is scored, two variables \_DL_Pred0\_ and \_DL_Pred1\_ are calculated. The first contains the distance between the anchor image feature and the positive image feature. The second contains the distance between the anchor image feature and the negative image feature. In order for a prediction to be considered a success, we require the anchor image to be closer to the positive image than to the negative image. Thus, \_DL_Pred0\_ < \_DL_Pred1_. We can then calculate the proportion of successful predictions.

In [11]:
my_table_test= ImageEmbeddingTable.load_files(s, path='/server-side/path/to/dog/test/data', 
                                             embedding_model_type='triplet', label_level=-2, 
                                             resize_width=224, resize_height=224)

In [12]:
out = model_tr.predict(data=my_table_test)

In [13]:
tot_obs = s.numrows(table=dict(name=model_tr.valid_res_tbl.name))
correctly_ranked_obs = s.numrows(table=dict(name=model_tr.valid_res_tbl.name, where='_DL_Pred0_ < _DL_Pred1_'))

In [14]:
correctly_ranked_obs['numrows']/tot_obs['numrows']

0.96875

## Deploy the model <a id="Deploy-the-model"></a>
We built, trained, and scored the Triplet Network as three identical networks combined by an embedding loss layer. However, in practice, we want to be able to use the embedding model on a single image. To save only one branch of the model to ASTORE, we specify **`model_type='branch'`**. The embedding loss layer is removed and replaced by a generic output layer. Alternatively, if we did want to store the Triplet Network as a whole, we could specify **`model_type='full'`**.

The generated ASTORE file will be stored on the client as specified by **`path`**.

Note that even this branch model isn't quite a classification model. Though we create an embedding, the output layer isn't configured to produce anything useful. It merely outputs the features from the embedding layer. In our case, the embedding layer is densely connected and outputs four numbers. To make this a true classification model, replace the final output layer with a layer capable of classifying, like softmax.

In [15]:
branch_model = model_tr.deploy_embedding_model(output_format='astore', 
                                               model_type='branch', 
                                               path=r'/client-side/path/to/astore/store')

NOTE: Model compiled successfully.
WARNING: The layer, output1, is not found in test_tr.
NOTE: Model weights attached successfully!
NOTE: Model astore file saved successfully.

In [16]:
branch_model.print_summary()

,Layer Id,Layer,Type,Kernel Size,Stride,Activation,Output Size,Number of Parameters,FLOPS(forward pass)
0,0,InputLayer_0,input,,,None,"(224, 224, 3)","(0, 0)",0
1,1,Convo.1,convo,"(7, 7)","(2, 2)",Identity,"(112, 112, 64)","(9408, 0)",118013952
2,2,B.N.1,batchnorm,,,Relu,"(112, 112, 64)","(0, 128)",0
3,3,Pool1,pool,"(3, 3)","(2, 2)",Max,"(56, 56, 64)","(0, 0)",0
4,4,R1C2,convo,"(3, 3)","(1, 1)",Identity,"(56, 56, 64)","(36864, 0)",115605504
5,5,R1B2,batchnorm,,,Relu,"(56, 56, 64)","(0, 128)",0
6,6,R1C3,convo,"(3, 3)","(1, 1)",Identity,"(56, 56, 64)","(36864, 0)",115605504
7,7,R1B3,batchnorm,,,Relu,"(56, 56, 64)","(0, 128)",0
8,8,R1C0,convo,"(1, 1)","(1, 1)",Identity,"(56, 56, 64)","(4096, 0)",12845056
9,9,R1B0,batchnorm,,,Identity,"(56, 56, 64)","(0, 128)",0
10,10,Res1,residual,,,Relu,"(56, 56, 64)","(0, 0)",0
11,11,R2C1,convo,"(3, 3)","(1, 1)",Identity,"(56, 56, 64)","(36864, 0)",115605504
12,12,R2B1,batchnorm,,,Relu,"(56, 56, 64)","(0, 128)",0
13,13,R2C2,convo,"(3, 3)","(1, 1)",Identity,"(56, 56, 64)","(36864, 0)",115605504
14,14,R2B2,batchnorm,,,Relu,"(56, 56, 64)","(0, 128)",0
15,15,Res2,residual,,,Relu,"(56, 56, 64)","(0, 0)",0
16,16,R3C2,convo,"(3, 3)","(2, 2)",Identity,"(28, 28, 128)","(73728, 0)",57802752
17,17,R3B2,batchnorm,,,Relu,"(28, 28, 128)","(0, 256)",0
18,18,R3C3,convo,"(3, 3)","(1, 1)",Identity,"(28, 28, 128)","(147456, 0)",115605504
19,19,R3B3,batchnorm,,,Relu,"(28, 28, 128)","(0, 256)",0
20,20,R3C0,convo,"(1, 1)","(2, 2)",Identity,"(28, 28, 128)","(8192, 0)",6422528
21,21,R3B0,batchnorm,,,Identity,"(28, 28, 128)","(0, 256)",0
22,22,Res3,residual,,,Relu,"(28, 28, 128)","(0, 0)",0
23,23,R4C1,convo,"(3, 3)","(1, 1)",Identity,"(28, 28, 128)","(147456, 0)",115605504
24,24,R4B1,batchnorm,,,Relu,"(28, 28, 128)","(0, 256)",0
25,25,R4C2,convo,"(3, 3)","(1, 1)",Identity,"(28, 28, 128)","(147456, 0)",115605504
26,26,R4B2,batchnorm,,,Relu,"(28, 28, 128)","(0, 256)",0
27,27,Res4,residual,,,Relu,"(28, 28, 128)","(0, 0)",0
28,28,R5C2,convo,"(3, 3)","(2, 2)",Identity,"(14, 14, 256)","(294912, 0)",57802752
29,29,R5B2,batchnorm,,,Relu,"(14, 14, 256)","(0, 512)",0
30,30,R5C3,convo,"(3, 3)","(1, 1)",Identity,"(14, 14, 256)","(589824, 0)",115605504
31,31,R5B3,batchnorm,,,Relu,"(14, 14, 256)","(0, 512)",0
32,32,R5C0,convo,"(1, 1)","(2, 2)",Identity,"(14, 14, 256)","(32768, 0)",6422528
33,33,R5B0,batchnorm,,,Identity,"(14, 14, 256)","(0, 512)",0
34,34,Res5,residual,,,Relu,"(14, 14, 256)","(0, 0)",0
35,35,R6C1,convo,"(3, 3)","(1, 1)",Identity,"(14, 14, 256)","(589824, 0)",115605504
36,36,R6B1,batchnorm,,,Relu,"(14, 14, 256)","(0, 512)",0
37,37,R6C2,convo,"(3, 3)","(1, 1)",Identity,"(14, 14, 256)","(589824, 0)",115605504
38,38,R6B2,batchnorm,,,Relu,"(14, 14, 256)","(0, 512)",0
39,39,Res6,residual,,,Relu,"(14, 14, 256)","(0, 0)",0
40,40,R7C2,convo,"(3, 3)","(2, 2)",Identity,"(7, 7, 512)","(1179648, 0)",57802752
41,41,R7B2,batchnorm,,,Relu,"(7, 7, 512)","(0, 1024)",0
42,42,R7C3,convo,"(3, 3)","(1, 1)",Identity,"(7, 7, 512)","(2359296, 0)",115605504
43,43,R7B3,batchnorm,,,Relu,"(7, 7, 512)","(0, 1024)",0
44,44,R7C0,convo,"(1, 1)","(2, 2)",Identity,"(7, 7, 512)","(131072, 0)",6422528
45,45,R7B0,batchnorm,,,Identity,"(7, 7, 512)","(0, 1024)",0
46,46,Res7,residual,,,Relu,"(7, 7, 512)","(0, 0)",0
47,47,R8C1,convo,"(3, 3)","(1, 1)",Identity,"(7, 7, 512)","(2359296, 0)",115605504
48,48,R8B1,batchnorm,,,Relu,"(7, 7, 512)","(0, 1024)",0
49,49,R8C2,convo,"(3, 3)","(1, 1)",Identity,"(7, 7, 512)","(2359296, 0)",115605504
50,50,R8B2,batchnorm,,,Relu,"(7, 7, 512)","(0, 1024)",0
51,51,Res8,residual,,,Relu,"(7, 7, 512)","(0, 0)",0
52,52,Pool2,pool,"(7, 7)","(1, 1)",Mean,"(1, 1, 512)","(0, 0)",0
53,53,EmbeddingLayer_0,fc,"(512, 4)",,Identity,4,"(2048, 0)",2048
54,54,Output1,output,,,Softmax,1,"(4, 1)",0
55,,,,,,,,Total number of parameters,Total FLOPS
56,Summary,,,,,,,"11,182,789","1,826,408,448"

## Test the ASTORE Model <a id="Test-astore-model"></a>
Now that we have an embedding model with a single branch, we can verify our results with a single image stream. If our embedding works well then we should have 6 clusters - one for each dog breed in our data set.

First we load the ASTORE Model.
Then we check the ASTORE information, noting that \_LayerAct_53_0_0_0 through \_LayerAct_53_0_0_3 are the components of the embedding vector. Instead of creating a new testing data set, we use the first image column from the previous test data set. Using **`astore.score`**, we compute an embedding vector for each image and use the embedding vectors for K-means clustering.

In [17]:
with open(r'/client-side/path/to/stored/model', mode='rb') as file: 
    fileContent = file.read()   
s.loadactionset('astore')
store_ = sw.blob(fileContent)
s.astore.upload(rstore=dict(name='test_tr_branch', replace=True),store = store_)

NOTE: Added action set 'astore'.
NOTE: 44793765 bytes were uploaded to the table "test_tr_branch" in the caslib "CASUSER(userid)".

+ Elapsed: 0.064s, user: 0.0237s, sys: 0.0402s, mem: 87mb

We verify the astore model loaded correctly.

In [18]:
s.astore.describe(rstore='test_tr_branch')

[Key]

 Store Key

                                         Key
 0  26DBD4EF5E92B34E4EA928A19DA933403DB7E0E2

[Description]

 Basic Information

          Attribute               Value
 0  Analytic Engine           deeplearn
 1     Time Created  25Feb2020:14:57:51

[InputVariables]

 Input Variables

       Name     Length   Role       Type    RawType FormatName
 0  _image_  1000000.0  Input  Varbinary  Character

[OutputVariables]

 Output Variables

                   Name  Length       Type                              Label
 0      P__fake_output_     8.0        Num           Predicted: _fake_output_
 1      I__fake_output_    12.0  Character                Into: _fake_output_
 2  _LayerAct_53_0_0_0_     8.0        Num  Output for Layer embeddinglayer_0
 3  _LayerAct_53_0_0_1_     8.0        Num  Output for Layer embeddinglayer_0
 4  _LayerAct_53_0_0_2_     8.0        Num  Output for Layer embeddinglayer_0
 5  _LayerAct_53_0_0_3_     8.0        Num  Output for Layer embeddinglayer_0

+ Elapsed: 1.16s, user: 1.09s, sys: 0.0696s, mem: 197mb

We create an image table from the first image in each observation of the image embedding table.

In [19]:
my_table_one_image_col = ImageTable.from_table(my_table_test, path_col='_path_')

In [20]:
my_table_one_image_col.label_freq

Frequency for IMAGEDATA_KIUREA

                             Level  Frequency
german_shepherd                  1         79
golden_retriever                 2         73
labrador_retriever               3        116
miniature_poodle                 4        110
soft-coated_wheaten_terrier      5         73
toy_poodle                       6         61

We can uncomment the following line to see some of the single images from the newly created dog breed image_table.

In [ ]:
#my_table_one_image_col.show()

When we score the model, we create the 4 element vector for each image in the scoring data set. We output the results to a CAS table called astore_score1_branch_gpu.

In [22]:
s.score(rstore = 'test_tr_branch',
        table = my_table_one_image_col,
        nthreads =1,
        copyvars=['_filename_0', '_label_'],
        options=[dict(name='usegpu', value='1'),
                 dict(name='NDEVICES', value='1'), 
                 dict(name='DEVICE0', value='0')
                ],
        out = dict(name='astore_score1_branch_gpu', replace=True))

[OutputCasTables]

             casLib                      Name  Rows  Columns  \
 0  CASUSER(userid)  astore_score1_branch_gpu   512        8

                                                          casTable
 0  CASTable('astore_score1_branch_gpu', caslib='CASUSER(userid)')

[Timing]

 Task Timing

                  Task   Seconds   Percent
 0   Loading the Store  0.000291  0.000068
 1  Creating the State  2.294689  0.533066
 2             Scoring  2.009527  0.466822
 3               Total  4.304696  1.000000

+ Elapsed: 4.89s, user: 3.57s, sys: 1.02s, mem: 285mb

In [23]:
s.fetch(table='astore_score1_branch_gpu', fetchVars=['_LayerAct_53_0_0_0_', '_LayerAct_53_0_0_0_', 
                                                     '_LayerAct_53_0_0_1_', '_LayerAct_53_0_0_2_'],
       to=5)

,_LayerAct_53_0_0_0_,_LayerAct_53_0_0_0_2,_LayerAct_53_0_0_1_,_LayerAct_53_0_0_2_
0,0.582717,0.582717,-0.580997,1.262640
1,0.360081,0.360081,-0.469913,3.432876
2,-0.860158,-0.860158,-0.901046,2.697191
3,-1.701389,-1.701389,-7.478656,3.968048
4,-0.308271,-0.308271,0.395658,0.821761

In [24]:
feature_list=[]
for i in range(0, 4):
    feature_list.append("_LayerAct_53_0_0_" + str(i) +"_")

We input the feature_list into the kclus action to see how well our embedding grouped the dog breeds. The output tables show several facets of the model including observations used, model information, and cluster statistics. To assess the embedding, we will focus on the cluster summary.

A good embedding would result in low intracluster variance (all data points of a cluster are near the cluster center) and high intercluster variance (the distance between cluster centers is large). The distance between centroids is a good measure of intercluster variance. The remaining statistics in the cluster summary evaluate the intracluster distance. Note that cluster 2 is the closest cluster to most of the other clusters. Though the cluster statistics don't reveal what dog breeds are in each cluster, we might want to investigate cluster 2 for misclassifications.

In [25]:
s.loadactionset('clustering')
s.kclus(table=dict(name='astore_score1_branch_gpu'),
        maxClusters=6, maxIters=100, standardize='std',
        inputs=feature_list,
        output=dict(casout=dict(name='cluster_results', replace=True),
                   copyvars=['_filename_0', '_label_']))

NOTE: Added action set 'clustering'.
NOTE: Using SEED=26569517.
NOTE: Running for input data for K 6.
NOTE: Clustering is finished. STOPVALUE is satisfied for STOPCRITERION=CLUSTER_CHANGE.

[outputSize]

 {'outputNObs': 512.0, 'outputNVars': 5}

[NObs]

 Number of Observations

                           Type      N
 0  Number of Observations Read  512.0
 1  Number of Observations Used  512.0

[ModelInfo]

 Model Information

                              RowId                        Parameter  \
 0             Clustering_Algorithm             Clustering Algorithm
 1               Maximum_Iterations               Maximum Iterations
 2                   Stop_Criterion                   Stop Criterion
 3             Stop_Criterion_Value             Stop Criterion Value
 4                         Clusters                         Clusters
 5                   Initialization                   Initialization
 6                             Seed                             Seed
 7  Distance_For_Interval_Variables  Distance for Interval Variables
 8                  Standardization                  Standardization
 9              Interval_Imputation              Interval Imputation

           Setting
 0         K-means
 1             100
 2  Cluster Change
 3               0
 4               6
 5           Forgy
 6        26569517
 7       Euclidean
 8             Std
 9            None

[DescStats]

 Descriptive Statistics

               Variable      Mean    StdDev
 0  _LayerAct_53_0_0_0_ -0.270455  1.446258
 1  _LayerAct_53_0_0_1_ -2.098239  2.732162
 2  _LayerAct_53_0_0_2_  0.116885  2.595751
 3  _LayerAct_53_0_0_3_ -0.216247  2.315740

[WithinClusStats]

 Within Cluster Statistics

                Variable  Cluster      Mean    StdDev
 0   _LayerAct_53_0_0_0_        1  0.154114  0.365863
 1                              2  0.354572  0.317748
 2                              3 -1.082023  0.369652
 3                              4 -0.065711  0.386649
 4                              5  0.820558  0.808843
 5                              6 -1.198610  0.830801
 6   _LayerAct_53_0_0_1_        1  0.983090  0.384363
 7                              2  1.109151  0.560094
 8                              3 -0.367316  0.336309
 9                              4  1.058853  0.331295
 10                             5 -0.349012  0.508111
 11                             6 -1.566378  0.317116
 12  _LayerAct_53_0_0_2_        1  0.912775  0.284786
 13                             2  0.578129  0.464220
 14                             3 -1.403251  0.314191
 15                             4  0.130134  0.288987
 16                             5 -0.615177  0.347038
 17                             6  1.600462  0.388978
 18  _LayerAct_53_0_0_3_        1  0.992052  0.308545
 19                             2 -0.187098  0.238929
 20                             3 -0.709927  0.454439
 21                             4 -1.495546  0.522422
 22                             5  0.604186  0.496226
 23                             6  0.453966  0.586886

[Standardization]

 Standardization

               Variable  Location     Scale
 0  _LayerAct_53_0_0_0_ -0.270455  1.446258
 1  _LayerAct_53_0_0_1_ -2.098239  2.732162
 2  _LayerAct_53_0_0_2_  0.116885  2.595751
 3  _LayerAct_53_0_0_3_ -0.216247  2.315740

[ClusterSum]

 Cluster Summary

    Cluster  Frequency   MinDist   MaxDist   AvgDist         SSE  StdDeviation  \
 0        1       61.0  0.217021  1.430621  0.612351   27.473631      0.671109
 1        2       34.0  0.502547  1.028262  0.783452   22.679484      0.816727
 2        3       68.0  0.205017  1.134856  0.663834   37.183498      0.739470
 3        4       98.0  0.288418  1.263381  0.708147   59.722192      0.780647
 4        5      178.0  0.394553  1.926018  1.071901  226.397106      1.127783
 5        6       73.0  0.553377  2.201971  0.991728   92.630289      1.126458

    NearestClus  DBtwCentroids
 0          2.0       1.248381
 1          1.0       1.248381
 2          5.0       2.442970
 3          2.0       1.446341
 4          2.0       2.096065
 5          1.0       3.015310

[ClusterCenters]

 Cluster Centroids

    _ITERATION_  _CLUSTER_ID_  _LayerAct_53_0_0_0_  _LayerAct_53_0_0_1_  \
 0          3.0           1.0            -0.047566             0.587722
 1          3.0           2.0             0.242348             0.932141
 2          3.0           3.0            -1.835339            -3.101805
 3          3.0           4.0            -0.365489             0.794720
 4          3.0           5.0             0.916284            -3.051796
 5          3.0           6.0            -2.003954            -6.377837

    _LayerAct_53_0_0_2_  _LayerAct_53_0_0_3_  S__LayerAct_53_0_0_0_  \
 0             2.486220             2.081087               0.154114
 1             1.617564            -0.649517               0.354572
 2            -3.525606            -1.860253              -1.082023
 3             0.454681            -3.679541              -0.065711
 4            -1.479961             1.182891               0.820558
 5             4.271286             0.835019              -1.198610

    S__LayerAct_53_0_0_1_  S__LayerAct_53_0_0_2_  S__LayerAct_53_0_0_3_
 0               0.983090               0.912775               0.992052
 1               1.109151               0.578129              -0.187098
 2              -0.367316              -1.403251              -0.709927
 3               1.058853               0.130134              -1.495546
 4              -0.349012              -0.615177               0.604186
 5              -1.566378               1.600462               0.453966

[IterStats]

 Iteration History

    IterationNum  IterationSSE   SSEChange  StopCriterion
 0             0   1129.815148         NaN            NaN
 1             1    545.179277 -584.635871      17.578125
 2             2    471.414105  -73.765173       5.859375
 3             3    466.086200   -5.327905       0.000000

[OutputCasTables]

             casLib             Name Label  Rows  Columns  \
 0  CASUSER(userid)  cluster_results         512        5

                                                 casTable
 0  CASTable('cluster_results', caslib='CASUSER(userid)')

+ Elapsed: 0.0183s, user: 0.0148s, sys: 0.0216s, mem: 118mb

We have looked already at the quality of clusters, but not what the clusters are composed of. Here, we want to verify that each cluster corresponds to images from the same dog breed. To do so, we look at the frequency of dog breeds, grouping by clusters. A good model would show few (ideally one) dog breed labels in each cluster. Remembering our suspicion of cluster 2, we note that there are instances of german shepherd, soft-coated wheaten terrier, and labrador retrievers.

In [26]:
s.freq(table=dict(name='cluster_results', groupby='_cluster_id_'), inputs='_label_')

[ByGroupInfo]

 ByGroupInfo

    _CLUSTER_ID_ _CLUSTER_ID__f         _key_
 0           1.0              1             1
 1           2.0              2             2
 2           3.0              3             3
 3           4.0              4             4
 4           5.0              5             5
 5           6.0              6             6

[ByGroup1.Frequency]

 Frequency for CLUSTER_RESULTS

                Column                      CharVar  \
 _CLUSTER_ID_
 1             _label_  soft-coated_wheaten_terrier

                                    FmtVar  Level  Frequency
 _CLUSTER_ID_
 1             soft-coated_wheaten_terrier      1       61.0

[ByGroup2.Frequency]

 Frequency for CLUSTER_RESULTS

                Column                      CharVar  \
 _CLUSTER_ID_
 2             _label_              german_shepherd
 2             _label_           labrador_retriever
 2             _label_  soft-coated_wheaten_terrier

                                    FmtVar  Level  Frequency
 _CLUSTER_ID_
 2                         german_shepherd      1        4.0
 2                      labrador_retriever      2       18.0
 2             soft-coated_wheaten_terrier      3       12.0

[ByGroup3.Frequency]

 Frequency for CLUSTER_RESULTS

                Column           CharVar            FmtVar  Level  Frequency
 _CLUSTER_ID_
 3             _label_  miniature_poodle  miniature_poodle      1        7.0
 3             _label_        toy_poodle        toy_poodle      2       61.0

[ByGroup4.Frequency]

 Frequency for CLUSTER_RESULTS

                Column             CharVar              FmtVar  Level  \
 _CLUSTER_ID_
 4             _label_  labrador_retriever  labrador_retriever      1

               Frequency
 _CLUSTER_ID_
 4                  98.0

[ByGroup5.Frequency]

 Frequency for CLUSTER_RESULTS

                Column           CharVar            FmtVar  Level  Frequency
 _CLUSTER_ID_
 5             _label_   german_shepherd   german_shepherd      1       75.0
 5             _label_  miniature_poodle  miniature_poodle      2      103.0

[ByGroup6.Frequency]

 Frequency for CLUSTER_RESULTS

                Column           CharVar            FmtVar  Level  Frequency
 _CLUSTER_ID_
 6             _label_  golden_retriever  golden_retriever      1       73.0

+ Elapsed: 0.0081s, user: 0.00359s, sys: 0.00924s, mem: 8.66mb

## Conclusion <a id="Conclusion"></a>
We end up with many good clusters using a vector with 4 numbers. With few exceptions, each cluster is dominated by a single class.

In [27]:
s.endsession()

+ Elapsed: 0.000113s, user: 9.1e-05s, sys: 1.1e-05s, mem: 0.205mb